html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
.ui-mobile, .ui-mobile body {
	height: 0;
}
#pg0 {
	font-family: "Roboto Slab", serif;
	text-align: center;
	margin-top: 40%;
	font-weight: 700;
	font-size: 4em;
	font-color: #46b854;
}
#map-page {
	width: 100%;
	height: 100%;
	padding: 0;
} 
#map-canvas { 
	width: 90%; 
	height: 40%; 
}
#fb-root {
	width: 100%;
	height: 3%;
}
.fb_iframe_widget {

	height: 50%;
	width: 50%;
	text-align: center;
}
.fb_iframe_widget span {
	padding: 5% 5% 5% 5%
}
#activity, #projects {
	position: relative;
	margin-left: 5%;
	margin-right: 5%;
}
#activitylist, #projectslist, #overview, #time, #team {
	background-color: #e9e9e9;
}
#overview, #time, #team{
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	padding: 2% 2% 2% 2%;
}
h1 {
	font-family: "Roboto Slab", serif;
	font-size: 1.2em;
	margin-bottom: 1.5%;
	color: #46b854;
}
#container h1{
	font-size: 6em;
	text-align: center;
	padding: 0;
	margin-top: 0;
}
#container {
	margin: 0;
}
#explore h1{
	text-align: center;
	font-size: 1.8em;
	margin: 0;
	margin-top: -5%;
}
.me{
	font-family: "Roboto", sans-serif;
	font-size: 3.5em;
	background-color: #DCDDDE;
	-webkit-box-shadow: 0 0.5px 1px rgb(0,0,0);
	-moz-box-shadow: 0 0.5px 1px rgb(0,0,0);
	margin-top: 5%;
	margin-bottom: 3%;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}
.chosen {
	background-color: #848689;
}
ul {
	font-family: "Roboto", sans-serif;
	font-size:1em;
	margin-top: 0;
	padding-top: 3%;
	margin-left: 4%;
	padding-bottom: 3%;
	margin-bottom: 0;
}
.crex {
	font-family: "Roboto Slab", serif;
	margin-top: 1%;
	margin-left: 1%;
	height: 5%;
	width: 42%;
	display: inline-block;
	text-align: center;
	margin-bottom: 0;
}
#join {
	font-family: "Roboto Slab", serif;
	padding-left: 3%;
	padding-right: 3%;
	margin-left: auto;
	margin-right: auto;
	background-color: #848689;
	height: 5%;
	-webkit-box-shadow: 0 0.5px 1px rgb(0,0,0);
	-moz-box-shadow: 0 0.5px 1px rgb(0,0,0);
	text-align: center;
	display: inline;
}
#explore, #create {
	font-family: "Roboto Slab", serif;
	font-size: 1em;
}
.ion-location {
	margin-top: 2%;
	font-size: 3em;
	padding-left: 2.1%;
	padding-right: 1%;
	color: #46b854;
	margin-bottom: 0;
}
.ion-home {
	margin-left: 91%;
	margin-top: 2%;
	font-size: 5em;
}
.ion-chevron-left {
	margin-left: 10%;
	font-size: 4em;
}
.ion-chevron-right {
	font-size: 4em;
	margin-left: 70%;
}
