* {
	font-family: "Roboto", sans-serif;
	margin: 0;
	height: 100%;
}
html {
	margin: 0;
	background-color: #fbfbf1;
}
#fb-root {
	width: 100%;
	height: 3%;
}

.fb_iframe_widget {
	height: 10px;

}

.fb_iframe_widget span {
	padding: 0px 0px 10px 10px;
}

a {
	text-decoration: none;
	color: #000000;
}
.content {
	background-color: #fbfbf1;
	width: 100%;
	height: 100%;
	font-size: 1em;
}
#map {
	background-color: #99cccc;
	height: 60%;
	position: relative;
}
#checkin {
	font-size: 4em;
	text-align: center;
	bottom: 0;
	height: 30%;
	width: 100%;
	position: absolute;
}
.crex {
	margin-top: 2.5%;
	margin-bottom: 2%;
	margin-left: 2%;
	background-color: #ff7f50;
	height: 6%;
	width: 46.8%;
	display: inline-block;
	-webkit-box-shadow: 0 0.5px 1px rgb(0,0,0);
	-moz-box-shadow: 0 0.5px 1px rgb(0,0,0);
	text-align: center;
	padding-top: 1.8%;
}
#explore, #create {
	font-family: "Roboto Slab", serif;
}
#activity {
	height: 3.1%;
	margin: 0;
	margin-top: 1.5%;
}
#activity ul li {
	font-size: 0.8em;
	padding-bottom: 0.5em;
}